.page-title {
    margin: 60px 0 35px;
}

.review {
    margin-bottom: 15px;
}

.review .card-title, .review .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review .badge {
    vertical-align: text-bottom;
}

.badge-rating {
    background-color: #FFD68C;
    color: #656152;
}

.review-breadcrumb {
    margin: 45px 0 35px;
}


main {
    padding: 1em 2em;
  }
  
  form {
    max-width: 20em;
  }